*{
    text-align: center;
}

h1{
    font-family: "French Script MT";
    color: rgb(255, 208, 208);
    font-size: 4em;
    padding-top: 30px;
}

/*h1#h1p1{
    text-align: center;
}*/

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 1.5em;
}

button{
    font-family: 'Trebuchet MS';
    background-color: #e24747;
    border: none;
    color: white;
    font-size: 32px;
    padding: 8px 10px;
    border-radius: 12px;
    cursor: pointer;
    /*margin-left: 20px;*/
}
body{
    background-color: #eb8686;
}

div{
    margin: auto;
    width: 13%;
}

img{
    border: 5px solid #e24747;
    border-radius: 20px;
}

img#lava{
    margin-top: 60px;
}
img#pleading{
    border: none;
}
@font-face{
    font-family: "AffYours";
    src: url("/1.ttf") format(truetype);
}

@font-face{
    font-family: "Comic Sans MS";
    src: url("/comic.ttf") format(truetype); 
}
@font-face{
    font-family: "Romantic";
    src: url("/Romantic.ttf") format(truetype);
}
